Repository d4l-data4life/hc-data-donation-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, library, sample-android, sample-ios

Add publishing
  build.gradle.kts
Labels: none

Add Spotless to ensure code style and changed intellij code formatting rules to match ktlint
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/ktlint.xml
  .idea/inspectionProfiles/profiles_settings.xml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/scripts/quality-spotless.gradle.kts
Labels: dependencies

Apply code style
  buildSrc/src/main/kotlin/Dependency.kt
  buildSrc/src/main/kotlin/LibraryConfig.kt
  buildSrc/src/main/kotlin/Version.kt
  data-donation-sdk/src/androidMain/kotlin/care/data4life/datadonation/encryption/assymetric/EncryptionKeyHandleBouncy.kt
  data-donation-sdk/src/androidMain/kotlin/care/data4life/datadonation/encryption/assymetric/EncryptionPublicKey.kt
  data-donation-sdk/src/androidMain/kotlin/care/data4life/datadonation/encryption/signature/SignatureKey.kt
  data-donation-sdk/src/androidMain/kotlin/care/data4life/datadonation/encryption/signature/SignatureKeyHandleBouncy.kt
  data-donation-sdk/src/androidMain/kotlin/care/data4life/datadonation/encryption/symmetric/EncryptionKey.kt
  data-donation-sdk/src/androidMain/kotlin/care/data4life/datadonation/encryption/symmetric/EncryptionKeyHandleBouncy.kt
  data-donation-sdk/src/androidMain/kotlin/care/data4life/datadonation/internal/di/KoinAndroid.kt
  data-donation-sdk/src/androidTest/kotlin/care/data4life/datadonation/encryption/Encr.kt
  data-donation-sdk/src/androidTest/kotlin/care/data4life/datadonation/encryption/HybridEncryptionAndroidTest.kt
  data-donation-sdk/src/androidTest/kotlin/care/data4life/datadonation/internal/domain/usecases/UsecaseAndroidTest.kt
Labels: dependencies, library

Change build script to detach iosArm64 from iosX64
  data-donation-sdk/build.gradle.kts
Labels: library

Bump Kotlin DateTime 0.1.0 -> 0.1.1
  buildSrc/src/main/kotlin/Version.kt
Labels: dependencies

Fix CryptoSwift iOS project setup
  data-donation-sdk/native/.gitignore
  data-donation-sdk/native/iOSCryptoDD/iOSCryptoDD copy-Info.plist
  data-donation-sdk/native/iOSCryptoDD/iOSCryptoDD.xcodeproj/project.pbxproj
  data-donation-sdk/native/iOSCryptoDD/iOSCryptoDD.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  data-donation-sdk/native/iOSCryptoDD/iOSCryptoDD.xcodeproj/xcshareddata/xcschemes/ObjCApp.xcscheme
  data-donation-sdk/native/iOSCryptoDD/iOSCryptoDD.xcodeproj/xcshareddata/xcschemes/iOSCryptoDD.xcscheme
  data-donation-sdk/native/iOSCryptoDD/iOSCryptoDD.xcodeproj/xcshareddata/xcschemes/iOSCryptoDDD.xcscheme
  data-donation-sdk/native/iOSCryptoDD/iOSCryptoDD/Info.plist
Labels: library

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

library:
  - data-donation-sdk/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-ios:
  - sample-ios/**/*
