Repository d4l-data4life/hc-data-donation-sdk-kmp, pull requests merged in 2021-09, with the labels that each got.

#29 Add Scope Parameter
  CHANGELOG.adoc
  data-donation-sdk/src/androidTest/kotlin/care/data4life/datadonation/integration/ClientConsentFlowAndroidModuleTest.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/Client.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/DataDonationSDK.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/di/koin.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/di/KoinTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/di/RootKoinTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/integration/ClientConsentFlowModuleTest.kt
  data-donation-sdk/src/iosTest/kotlin/care/data4life/datadonation/integration/ClientConsentFlowIosModuleTest.kt
  swift/DataDonationExample/Services/DataDonationSDKService.swift
Labels: documentation, library

#30 Prepare Release 0.2.1
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

#28 Change CODEOWNERS
  .github/CODEOWNERS
Labels: build

#31 Change project setup to latest iteration
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/d4l-ci-label-configuration.yml
  .github/workflows/d4l-ci-pull-request-labeler.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/compiler.xml
  .idea/copyright/d4l_closed.xml
  .idea/copyright/profiles_settings.xml
  .idea/inspectionProfiles/d4l_inspections.xml
  .idea/inspectionProfiles/profiles_settings.xml
  CHANGELOG.adoc
  CODE-OF-CONDUCT.adoc
  CONTRIBUTING.adoc
  DEVELOPING.adoc
  Dangerfile.df.kts
  README.adoc
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/datadonation/config/AppConfig.kt
  buildSrc/src/main/kotlin/care/data4life/gradle/datadonation/config/LibraryConfig.kt
  buildSrc/src/main/kotlin/care/data4life/gradle/datadonation/script/dependency-updates.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/datadonation/script/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/datadonation/script/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/datadonation/script/publishing.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/datadonation/script/quality-spotless.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/datadonation/script/versioning.gradle.kts
  data-donation-crypto/build.gradle.kts
  data-donation-sdk/build.gradle.kts
  docs/modules/ROOT/pages/index.adoc
  gradle.properties
  gradlePlugin/datadonation-dependency/build.gradle.kts
  gradlePlugin/datadonation-dependency/src/main/kotlin/care/data4life/gradle/datadonation/dependency/Dependency.kt
  gradlePlugin/datadonation-dependency/src/main/kotlin/care/data4life/gradle/datadonation/dependency/DependencyPlugin.kt
  gradlePlugin/datadonation-dependency/src/main/kotlin/care/data4life/gradle/datadonation/dependency/GradlePlugin.kt
  gradlePlugin/datadonation-dependency/src/main/kotlin/care/data4life/gradle/datadonation/dependency/Repository.kt
  gradlePlugin/datadonation-dependency/src/main/kotlin/care/data4life/gradle/datadonation/dependency/Version.kt
  settings.gradle.kts
Labels: documentation, build, dependencies, library, scripts

#34 [SDK-663] Add custom content type plugin
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/networking/RequestBuilder.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/networking/plugin/HttpCustomContentType.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/networking/plugin/HttpCustomContentTypeConfigurator.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/networking/plugin/KtorPluginsContract.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/networking/plugin/PluginKoin.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/integration/ClientConsentFlowModuleTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/networking/RequestBuilderTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/networking/plugin/HttpCustomContentTypeConfiguratorTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/networking/plugin/HttpCustomContentTypeTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/networking/plugin/PluginKoinTest.kt
Labels: enhancement, library

#9 [SDK-641] Add time bluring for QuestionaireResponse#authored
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/donation/anonymization/AnonymizationContract.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/donation/anonymization/BlurRuleResolver.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/donation/anonymization/DateTimeConcealer.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/donation/anonymization/FhirConcealer.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/donation/anonymization/model/BlurModel.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/donation/program/model/ProgramModel.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/donation/anonymization/BlurRuleResolverTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/donation/anonymization/DateTimeConcealerTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/donation/anonymization/FhirConcealerTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/donation/program/model/BlurFunctionSerializerTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/mock/stub/donation/anonymization/BlurRuleResolverStub.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/mock/stub/donation/anonymization/DateTimeConcealerStub.kt
  data-donation-sdk/src/commonTest/resources/fixture/program/sampleProgram.json
Labels: library

#12 [SDK-641] Add switch from ProgramType
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/donation/anonymization/AnonymizationContract.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/donation/anonymization/FhirAnonymizer.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/donation/anonymization/QuestionnaireResponseAnonymizer.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/donation/program/model/ProgramModel.kt
  data-donation-sdk/src/commonMain/kotlin/care/data4life/datadonation/donation/program/model/ProgramTypeSerializer.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/donation/anonymization/FhirAnonymizerTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/donation/anonymization/QuestionnaireResponseAnonymizerTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/donation/program/model/ProgramTypeSerializerTest.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/mock/fixture/ProgramFixture.kt
  data-donation-sdk/src/commonTest/kotlin/care/data4life/datadonation/mock/stub/donation/anonymization/QuestionnaireResponseAnonymizerStub.kt
  data-donation-sdk/src/commonTest/resources/fixture/program/sampleProgram.json
Labels: library
